<div class="main_board center-align row">
    <div class="title board_item text  block ">
      
      <div class="row">
        <div class="input-field col s12">
          <h4 style="color: #8f8f8f !important; font-weight: normal;">Conhecimentos</h4>
        </div>
      </div>

      
      <%= form_with model: @tool, local: true do |f| %>

        <div class="row">
          <div class="input-field col s12">
            <%= f.text_field :name,  class:"validate input_field", placeholder:"Excel" %>
            <%= f.label :name, "Conhecimento:"%>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= f.submit "Save", class:"waves-effect waves-light btn-small amber darken-2 white-text"%>
          </div>
        </div>

      <% end %>


    </div>
</div>