<div id='my_footer' class="amber darken-2">
  <div class="info_board center-align row"></div>
    <div class="board_item text text_greeting amber darken-2">
        <%= @personal_info.footer_text%>
        <br>
        This project's code can be found in <a href="https://github.com/xitarps/curriculo" style="color: blue !important;">Here</a>
    </div>
  </div>
</div>