<div id='my_footer' class="amber darken-2">
  <div class="info_board center-align row"></div>
    <div class="board_item text text_greeting amber darken-2">
        <%= @personal_info.footer_text%>
    </div>
  </div>
</div>