<nav>
  <div class="nav-wrapper amber darken-2">
    <a href="#!" class="brand-logo">
        <i class="material-icons">home</i>Home
                  </a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Login</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">&#128274;Login</a></li>
</ul>  