<div class="main_board center-align row">
      <div class="title board_item text  block indigo darken-2">
        Rodrigo<br>
        Xita
      </div>
      <div class="board_item text  block light-blue darken-2">
        Olá!<br>
        Interesse em t.i?<br>
      </div>
  </div>

  <div class="info_board center-align row"></div>
    <div class="title board_item text text_greeting block teal darken-2">
        Contente por estar aqui!
        Aqui encontrará meu curriculo em forma de portifólio.
        Desenvolvido com Html, Css, Javascript, Ruby etc.
        Mais detalhes? Tenho contas no github e gitlab.
        Se interessou pelo meu cv?
        Há meu linkedin também.
    </div>
  </div>


  <ul class="collection block my_list">
    <li class="collection-item">
      <div><i class="material-icons">face</i>Personal Info</div>
    </li>
    <li class="collection-item">
      <div><i class="material-icons">school</i>Academics</div>
    </li>
    <li class="collection-item">
      <div><i class="material-icons">book</i>Courses</div>
    </li>
    <li class="collection-item">
      <div><i class="material-icons">build</i>Tech knowledge</div>
    </li>
    <li class="collection-item">
        <div><i class="material-icons">insert_drive_file</i>Plain curriculum</div>
    </li>
  </ul>


  <ul class="block collection with-header">
    <li id ="social" class="collection-header">
      <%= link_to image_tag("github.png", width: '50px'), '#' %>
      <%= link_to image_tag("GitLab_Logo.svg", width: '50px'), '#' %>
      <%= link_to image_tag("linkedin.png", width: '50px'), '#' %>
    </li>
  </ul>